<div id="<%= dom_id difusion %>">
  <p>
    <strong>Nombre:</strong>
    <%= difusion.nombre %>
  </p>

  <p>
    <strong>Lista dinamica:</strong>
    <%= difusion.lista_dinamica.nombre %>
  </p>

  <p>
    <strong>Plantilla:</strong>
    <%= difusion.plantilla.nombre %>
  </p>

</div>
