<h1 class="title">Editar exclusión</h1>

<%= render "form", exclusion_tipica: @exclusion_tipica %>

<br>

<div>
  <%= link_to exclusiones_tipicas_path, class: "button is-link is-rounded is-small" do %>
    <span class="icon">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span>Volver al listado</span>
  <% end %>
</div>
