<h1 class="title">Editar donante</h1>

<%= render "form", donante: @donante %>

<br>

<div>
  <%= link_to @donante, class: "button is-link is-rounded is-small" do %>
    <span class="icon">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span>Volver</span>
  <% end %>

</div>
