<span class="title">Listas</span>

<%= link_to new_lista_path, class: "button is-primary is-rounded ml-5" do %>
  <span class="icon">
    <i class="fas fa-circle-plus"></i>
  </span>
  <span>Crear lista</span>
<% end %>

<hr>

<div class="container">
  <table class="table is-striped is-hoverable mx-auto">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Detalles</th>
    </tr>
    </thead>
    <tbody>
    <% @listas.each do |lista| %>
      <tr>
        <td><%= lista.nombre %></td>
        <td><%= link_to "Detalles", lista_path(lista), data: { turbo_frame: "_top" } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

