<span class="title">Clínicas</span>

<%= link_to new_clinica_path, class: "button is-primary is-rounded ml-5" do %>
  <span class="icon">
    <i class="fas fa-circle-plus"></i>
  </span>
  <span>Crear clínica</span>
<% end %>

<div class="container">
  <table class="table is-striped is-hoverable mx-auto">
    <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% @clinicas.each do |clinica| %>
      <tr>
        <td><%= clinica.codigo %></td>
        <td><%= clinica.nombre %></td>
        <td>
          <div>
            <%= link_to edit_clinica_path(clinica), class: "button is-rounded is-small mr-2" do %>
              <span class="icon">
                <i class="far fa-pen-to-square"></i>
              </span>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>