<h1 class="title">Crear clínica</h1>

<%= render "form", clinica: @clinica %>

<br>

<div>
  <%= link_to clinicas_path, class: "button is-link is-rounded is-small" do %>
  <span class="icon">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span>Volver al listado</span>
  <% end %>
</div>
