<div id="<%= dom_id plantilla %>">
  <p>
    <strong>Nombre:</strong>
    <%= plantilla.nombre %>
  </p>
  <p><strong>Contenido:</strong></p>
  <div class="box">
    <%= sanitize plantilla.contenido_completo %>
  </div>

</div>
