<span class="title">Plantillas</span>

<%= link_to new_plantilla_path, class: "button is-primary is-rounded ml-5" do %>
  <span class="icon">
    <i class="fas fa-circle-plus"></i>
  </span>
  <span>Crear plantilla</span>
<% end %>

<div class="container">
  <table class="table is-striped is-hoverable mx-auto">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Detalles</th>
    </tr>
    </thead>
    <tbody>
    <% @plantillas.each do |plantilla| %>
      <tr>
        <td><%= plantilla.nombre %></td>
        <td><%= link_to "Detalles", plantilla   , data: { turbo_frame: "_top" } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
