<div>
  <%= link_to plantillas_path, class: "button is-link is-rounded is-small" do %>
    <span class="icon">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span>Volver al listado</span>
  <% end %>
</div>

<h1 class="title">Crear plantilla</h1>

<%= render "form", plantilla: @plantilla %>
