<div id="<%= dom_id campania %>">
  <p>
    <strong>Nombre:</strong>
    <%= campania.nombre %>
  </p>
  <br>
  <p>
    <strong>Lista:</strong>
    <%= campania.lista.nombre %>
  </p>
  <br>
  <p>
    <strong>Plantilla:</strong>
    <%= campania.plantilla.nombre %>
  </p>
</div>
