<p>Hola <%= @resource.email %>!</p>

<p>Este es un email relacionado a tu cuenta de Hemoclub.</p>

<p>Recibimos una solicitud para establecer una nueva contraseña de su cuenta de Hemoclub. Podés hacerlo a través del siguiente link:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no hiciste esta solicitud, simplemente ignorá este correo electrónico.</p>
<p>Tu contraseña no va a cambiar a menos que accedas al link y crees una nueva.</p>

<img src="<%= ENV["APP_HOST"] %>/logo.png" alt="Logo de hemocentro" width="230px" height="50px">
