<div>
  <%= link_to @lista_dinamica, class: "button is-link is-rounded is-small" do %>
    <span class="icon">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span>Volver</span>
  <% end %>
</div>

<h1 class="title">Editar lista</h1>

<%= render "form", lista_dinamica: @lista_dinamica %>
