name: Deploy staging

on:
  push:
    tags:
      - '*'

env:
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  DOCKERHUB_IMAGE: joaquincasal/fhba-mkt
  TAG_NAME: ${{ github.ref_name }}
  HEROKU_TOKEN: ${{ secrets.HEROKU_TOKEN }}
  HEROKU_APP: ${{ secrets.HEROKU_APP }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log into Dockerhub
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: docker.io
          username: ${{ github.actor }}
          password: ${{ env.DOCKERHUB_TOKEN }}

      - name: Log into Heroku registry
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: registry.heroku.com
          username: _
          password: ${{ env.HEROKU_TOKEN }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # v5.0.0
        with:
          context: .
          push: true
          build-args: APP_VERSION=${{ env.TAG_NAME }}
          tags: |
            ${{ env.DOCKERHUB_IMAGE }}:${{ env.TAG_NAME }}
            ${{ env.DOCKERHUB_IMAGE }}:latest
            registry.heroku.com/${{ env.HEROKU_APP }}/web

      - name: Get Heroku image id
        run: echo "IMAGE_ID=$(docker inspect registry.heroku.com/$HEROKU_APP/web --format={{.Id}})" >> $GITHUB_ENV

      - name: Deploy config
        run: ./scripts/deploy_staging_config.sh

      - name: Release new version
        run: ./scripts/deploy_staging.sh
